<h1>About</h1>
<p>This is a node express app for jotting down ideas for future Youtube videos</p>

<p>Created by Amol Kodange-https://github.com/AmolKodange12 OR https://www.linkedin.com/in/amol-kodange-05911a139/</p> 
<p>Version:1.0.0</p>