<h1>About</h1>
<p>This is a node express app for jotting down ideas for future Youtube videos</p>

<p>Created by Amol Kodange</p>
<ul>
<li><a href="https://github.com/AmolKodange12">Github Link</a></li>
<li><a href="https://www.linkedin.com/in/amol-kodange-05911a139/">LinkedIn Link</a></li>
</ul>
<p>Features</p>
<ul>
  <li><p>Create users and login</p></li>
  <li><p>Add ideas-consisting of title and details,edit and delete them</p></li>
  <li><p>Upload a picture from your computer and submit it as your profile pic,visible in Profile page</p></li>
  <li><p>User authentication</p></li>
  <li><p>Access control</p></li>
  <li><p>Search bar for ideas with fuzzy search</p></li>
  <li><p>Number of ideas listed</p></li>
</ul>