.logo{
  width:130px;
  margin:auto;
}

.fas{
  color: #007bff;
 
}
.far{
  color: #007bff;
}
.fa-sign-in-alt{
  color: #ffffff;
}

.fa-user-plus{
  color: #ffffff;
}

.rounded-circle{
  width: 201px;
  height: 201px;
  margin-top: 10%;
}
.row{
  padding-left: 10%;
  padding-right: 10%;
}
#ideaCount{
  
}